#gallery {
	max-width: 600px;
}

.link {
	text-decoration: none;
}

.wrap-img {
	border: 4px solid #fff;
	outline: 1px solid #000;
}

.wrap-main-img {
	height: 590px;
	width: 590px;
	text-align: center;
	margin-bottom: 10px;
}

.wrap-preview-img {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 105px;
	width: 105px;
	overflow: hidden;
	margin-right: 3px;
}

.wrap-preview-img:hover {
	outline-color: #fff;
}

#main-img {
	height: 590px;
}

.preview-img {
	height: 200px;
}