.button {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.button:hover {
    cursor: pointer;
}

.button_right {
    border-right: 20px solid #420;
}

.button_right:hover {
    border-right-color: #420;
}

.button_left {
    border-left: 20px solid #420;
}

.button_left:hover {
    border-left-color: #420;
}

.container {
    width: 380px;
    display: flex;
    align-items: center;
    background-color: #FED;
    border-radius: 20px;
    border: 3px solid #420;
}

.images {
    height: 120px;
    width: 290px;
    margin: 0 25px;
    overflow: hidden;
}

#list-of-images {
    width: 9999px;
    padding: 0;
    list-style: none;
}

#list-of-images>li{
    margin-right: 10px;
    text-decoration: none;
    float: left;
}