.slider {
	margin: 20px;
	position: relative;
	width: 500px;
	height: 20px;
	background-color: #eee;
	border-radius: 5px;
}

.runner {
	position: absolute;
	width: 10px;
	height: 30px;
	border-radius: 5px;
	top: -5px;
	left: 0;
	background-color: #50e;
}