

.list > * {
    display: inline-block;
}

.list>dt:hover {
    font-weight: bold;
    cursor: pointer;
}

.list::before {
    content: ">";
}

.list>dd {
    display: none;
}

.list._open>dd{
    display: block;
}

.list._open::before {
    content: "-"
}

